@font-face{
    src: url(../fonts/montserrat-bold.ttf);
    src: url(../fonts/montserrat-medium.ttf);
    src: url(../fonts/montserrat-regular.ttf);
    src: url(../fonts/montserrat-semiBold.ttf);
    font-family: "Montserrat", sans-serif;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mon: "Montserrat", sans-serif;
    --black: #333333;
    --blue: #054C73;
    --ash: #666666;
}
body{
    font-family: var(--mon);
    font-size: 20px;
    font-weight: 400;
    color: var(--ash);
}
/* header start  */
header{
    padding: 40px 0 35px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 11;
}
.logo{
    font-family: var(--mon);
    font-size: 34px;
    font-weight: 700;
    line-height: 41.45px;
    color: var(--blue);
}
.logo:hover{
    color: var(--blue);
}
.nav_btn{
    border: none;
}
.nav_btn:focus{
    box-shadow: none;
}
.menu ul li a{
    margin: 0 35px;
    font-size: 16px;
    font-weight: 600;
    line-height: 17.07px;
    color: #212230;

}
.menu ul li:last-child a{
    margin-right: 0;
}
/* header end  */
/* banner start  */
.banner{
    width: 90%;
    display: flex;
    justify-content: end;
    background-image: url(../images/banner_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner_2{
    width: 643px;
    height: 443px;
    margin: 150px -60px 100px 0;
    padding: 40px;
    border-radius: 10px;
    background-color: #DFE9F4;
}
.banner_3 span{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: var(--black);
}
.banner_3 h1{
    margin: 20px 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
    color: var(--blue);
}
.banner_3 p{
    margin-bottom: 30px;
    font-weight: 500;
    color: #111111;
}
.common_btn{
    display: inline-block;
    padding: 25px 72px;
    gap: 10px;
    border-radius: 50px;
    background-color: var(--blue);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}
/* banner end  */
/* service start  */
.service{
    margin-top: 45px;
    padding-bottom: 45px;
    background-color: #F2F5FF;
}
.systems{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.icon{
    width: 60px;
}
.text{
    margin-left: 20px;
}
.text span{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    color: var(--black);
}
.text p{
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: var(--black);
}
/* service end  */
/* common title start  */
.common_title{
    margin: 60px 0 0;
}
.title h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    color: var(--black);
}
/* common title end  */
/* feature start  */
.sigle_item{
    margin-top: 60px;
}
.common{
    transition: all .33s;
}
.single_img1 img{
    border-top-left-radius: 75px;
}
.single_img3 img {
    border-bottom-right-radius: 75px;
}
.single_img1:hover, .single_img2:hover, .single_img3:hover{
    margin-top: -30px;
}
/* feature end  */
/* beauty start  */
.beauty{
    margin-top: 60px;
    padding: 60px 0;
    background-color: #F2F5FF;
}
.text1{
    height: 100%;
    display: flex;
    align-items: center;
}
.text2{
    padding-right: 205px;
}
.text2 h3{
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    color: var(--black);
}
.text2 p{
    margin-bottom: 30px;
    line-height: 39px;
}
.beauty_img{
    padding-right: 50px;
}
.b_img{
    position: relative;
    z-index: 1;
}
.round{
    width: 400px;
    height: 400px;
    margin-right: -50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
    background-color: #09513B;
    border-radius: 50%;
}
/* beauty end  */
/* feature2 start  */
.feature2{
    padding-bottom: 120px;
    border-bottom: 1px solid #D7D6D6;
}
.f2_single_item{
    margin-top: 50px;
    border-radius: 8px;
}
.f2_single_item img{
    border-radius: 8px;
    transition: all .33s;
}
.f2_single_item img:hover{
    box-shadow: 0 0 15px var(--ash);
}
.f2_text{
    margin-top: 30px;
}
.f2_text h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: center;
    color: var(--black);
}
/* feature2 end  */
/* feature3 start  */
.feature3{
    padding-bottom: 190px;
}
.f3_single_item{
    margin-top: 50px;
}
.f3_img{
    position: relative;
    border-radius: 8px;
}
.f3_img:hover{
    box-shadow: 0 0 15px var(--ash);
}
.f3_img img{
    border-radius: 8px;
}
.number{
    width: 90px;
    height: 90px;
    margin-bottom: -40px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.number .number2{
    width: 70px;
    height: 70px;
    background-color: #111111;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ffffff;
}
.f3_text{
    margin-top: 55px;
}
.f3_text h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
    color: var(--black);
}
.f3_text p{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
/* feature3 end  */
/* subscribe start  */
.subscribe{
    padding-top: 60px;
    background: #F2F5FF;
}
.form{
    display: flex;
    justify-content: center;
}
.input{
    margin: 50px 0 60px;
    border: 1px solid var(--blue);
}
.input input{
    padding: 10px 0 10px 20px;
    border: none;
    outline: none;
    background: transparent;
}
.input button{
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: var(--blue);
    color: #ffffff;
    cursor: pointer;
}
/* subscribe end  */
/* footer start  */
.footer{
    padding: 60px 0 90px;
    font-size: 16px;
    background-color: var(--blue);
    color: #ffffff;
}
.h6{
    margin-bottom: 20px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
}
.footer1 p{
    line-height: 35px;
}
.footer_img{
    margin-top: 20px;
    transition: all .33s;
}
.footer_img:hover{
    box-shadow: 0 0 15px var(--black);
}
/* footer end  */